body {
    margin-top: 2%;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}