{% load static %}
<head>

    <meta charset="UTF-8">
    <!-- Font Awesome Icons -->
    <link href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'css/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <title>Daftar Buku</title>

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
</head>

<body>
    <div class='container'>
        <h1 class = 'judul'>Daftar Buku</h1>

        <div class="input">
            <input type="text" id="input" placeholder="Search for books.." title="Type in a name">
        </div>
        <br>
        <div class="content">
            <table id="demo" class="table table-borderless table-dark">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Authors</th>
                        <th scope="col" class="align-middle">Publisher</th>
                        <th scope="col" class="align-middle">Date</th>
                    </tr>
                </thead>
                <tbody id="konten"></tbody>
            </table>
        </div>
    </div>
</body>

</html>